@page
@model CharityOrganizations.Pages.Manage.Content.Organizations.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>الجمعيات الحالية</h1>

<p>
    <a asp-page="Create">تسجيل جمعية خيرية جديدة</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Organization) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">تعديل</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">التفاصيل</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
