@page
@model CharityOrganizations.Pages.Manage.Content.Grantees.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>الرئيسية</h1>

<p>
    <a asp-page="Create">انشاء حالة</a>
</p>
<form>
    <p>
        <div class="form-group">
            اسم الحالة: <input type="text" asp-for="GranteeName" />
            الرقم القومي: <input type="text" asp-for="GranteeNationalId" />
            <input type="submit" value="بحث" class="btn btn-primary" />
        </div>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grantee[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grantee[0].NationalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grantee[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grantee[0].FamilySize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grantee[0].City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Grantee)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilySize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">تعديل</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">التفاصيل</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Grantee.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Grantee.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Grantee.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    السابق
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Grantee.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    التالي
</a>
