@page
@model CharityOrganizations.Pages.Manage.Service.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>تفاصيل</h1>

<div>
    <h4>مساعدة</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GranteeService.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GranteeService.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GranteeService.ServiceComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GranteeService.ServiceComment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GranteeService.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GranteeService.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GranteeService.Grantee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GranteeService.Grantee.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GranteeService.Organization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GranteeService.Organization.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GranteeService.Id">تعديل</a> |
    <a asp-page="./Index">العودة الى القائمة</a>
</div>
